.create {
	padding-right: 10px;
}
.sort-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-end;
}

.sort-container {
	padding-bottom: 0.5em;
	border-bottom: solid 1px #263238;
}