
.app {
	background-color: rgba(41, 44, 52, 0.2);
}
.app-header {
	text-align: center;
	color: rgb(60,60,60);
}


.menu > ul{
	display: flex;
	justify-content: center;
}
.menu > ul > li {
	margin: 1em 3em;
	list-style: none;
	text-decoration: none;
}
.menu > ul > li:hover {
	cursor: pointer;
}

.menu > ul > li > a {
	text-decoration: none;
	color: rgb(70,70,70);
	font-family: 'Cantarell', sans-serif;
	font-size: 1.5em;
}
.menu > ul > li > a:hover {
	cursor: pointer;
}