header {
	margin-bottom: 2em;
}
nav {
	display: block;
	color: white;
	background-color: #263238;
	height: 70px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}
nav .container {
	height: 100%;
}
nav a, .mobile-nav a {
	text-decoration: none;
	color: white;
}
nav ul, .mobile-nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 100%;
}

.menu .flex-nav{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.brand-logo {
	cursor: pointer;
	font-size: 2em;
}

.flex-nav .nav-links {
	display: flex;
	flex-flow: row wrap;
	margin: 0;
}

.menu ul > li > a {
	font-family: 'Cantarell', sans-serif;
	font-size: 1.5em;
	padding: 0 1em;
	display: block;
	line-height: 70px;
}

.menu ul.nav-links:hover {
	cursor: pointer;
}
.menu ul > li:hover, .mobile-nav li:hover {
	background-color: #37474f;
}

.menu .nav-links a.selected {
	background-color: #455a64;
	border-bottom: solid 3px #263238;
	transition: 0.5s;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2), -10px 0 30px rgba(0,0,0,0.6), 10px 0 30px rgba(0,0,0,0.6);
}
.mobile-nav a.selected {
	background-color: #455a64;
}
.menu .nav-links li a:after {
	display: block;
	content: '';
	position: relative;
	bottom: 20px;
	border-bottom: solid 3px #fff;
	-webkit-transform: scaleX(0);
	        transform: scaleX(0);
	-webkit-transition: -webkit-transform 250ms ease-in-out;
	transition: -webkit-transform 250ms ease-in-out;
	transition: transform 250ms ease-in-out;
	transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.menu .nav-links li:hover a:after {
	transform: scaleX(1);
}
.mobile-nav {
	left: 0;
	top: 0;
	overflow-x: hidden;
	transition: 0.5s;
	height: 100%;
	position: fixed;
	background-color: #263238;
	z-index: 1000;
}
.mobile-nav.close {
	width: 0;
}

.mobile-nav.open {
	width: 300px;
}
.mobile-nav ul {
	position: relative;
	top: 10%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}
.mobile-nav a {
	display: block;
	color: white;
	padding: 1em;
}
.mobile-nav .closebtn {
	position: absolute;
	color: white;
	font-size: 2em;
	top: 20px;
	right: 45px;
	cursor: pointer;
}
.mobilenav-overlay {
	display: none;
	transition: 0.5s;
}
@media only screen and (min-width: 992px) {
	.mobile-nav {
		display: none !important;
	}
	.sidenav-trigger {
		display: none;
	}
}
@media only screen and (max-width: 992px) {
	.flex-nav .nav-links {
		display: none;
	}
	.menu .flex-nav {
		display: block;
	}
	span.sidenav-trigger {
		float: left;
		line-height: 70px;
		display: block;
	}
	.logo-link{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		line-height: 70px;
	}
	.mobile-nav.close + .mobilenav-overlay {
		display: none;
	}
	.mobile-nav.open + .mobilenav-overlay {
		display: block;
		z-index: 200;
		position: fixed;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 120vh;
		background-color: rgba(0,0,0,0.5);

	}

}


/* Loader */
.app-header .loader {
	margin: 0 auto;
	text-align: center;
}



